<!DOCTYPE html>
<html lang="{{course_info.course.locale}}">
  <head>
    <base href="{{ gcb_course_base }}" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    {% block title %}
    {% endblock %}

    <!-- The following translated strings are used in activity-generic.js and should be
    declared before that file is imported. -->
    <script>
      // import JSON for older browsers like IE 7
      if (typeof JSON == 'undefined') {
        document.write(
            '<script src="assets/lib/json2-2012.10.08.min.js"></' + 'script>');
      }

      // inline translations
      var trans = {};

      {# I18N: Text on the button for checking an answer. #}
      trans.CHECK_ANSWER_TEXT =
          "{{ gettext(' Check Answer ')|replace('\"', '\\\"') }}";

      {# I18N: Text on the button for checking a set of answers. #}
      trans.CHECK_ANSWERS_TEXT =
          "{{ gettext( ' Check Answers ')|replace('\"', '\\\"') }}";

      {# I18N: Text on the button for showing the answer to a question. #}
      trans.SHOW_ANSWER_TEXT =
          "{{ gettext(' Skip and Show Answer ')|replace('\"', '\\\"') }}";

      {# I18N: Text on the button for saving answers to a question. #}
      trans.SAVE_ANSWERS_TEXT =
          "{{ gettext(' Save Answers ')|replace('\"', '\\\"') }}";

      {# I18N: Text on the button for saving a draft answer. #}
      trans.SAVE_DRAFT_TEXT =
          "{{ gettext(' Save Draft ')|replace('\"', '\\\"') }}";

      {# I18N: Text on the button for submitting answers. #}
      trans.SUBMIT_ANSWERS_TEXT =
          "{{ gettext(' Submit Answers ')|replace('\"', '\\\"') }}";

      {# I18N: Text on the button for submitting a peer-reviewed assignment. #}
      trans.SUBMIT_ASSIGNMENT_TEXT =
          "{{ gettext(' Submit Assignment ')|replace('\"', '\\\"') }}";

      {# I18N: Text on the button for submitting a peer review. #}
      trans.SUBMIT_REVIEW_TEXT =
          "{{ gettext(' Submit Review ')|replace('\"', '\\\"') }}";

      {# I18N: Text to prompt the student to select a multiple-choice answer. #}
      trans.SELECT_ANSWER_PROMPT =
          "{{ gettext(' Please click one of the buttons for your answer. ')|replace('\"', '\\\"') }}";

      {# I18N: Text appearing after the student has answered all questions correctly. #}
      trans.ALL_CORRECT_TEXT =
          "{{ gettext(' All your answers are correct! ')|replace('\"', '\\\"') }}";

      {# I18N: Text appearing after the student has answered all questions correctly. #}
      trans.NUM_CORRECT_TEXT =
          "{{ gettext(' Number of questions you answered correctly ')|replace('\"', '\\\"') }}";

      {# I18N: Text appearing after the student has submitted an assessment. #}
      trans.YOUR_SCORE_TEXT =
          "{{ gettext(' You received a score on this assessment of ')|replace('\"', '\\\"') }}";

      {# I18N: Text appearing after the student has checked his/her answers to an assessment. #}
      trans.LESSONS_TO_REVIEW_TEXT =
          "{{ gettext(' Here are lessons you could review to improve your score ')|replace('\"', '\\\"') }}";

      {# I18N: Text appearing after the student has checked his/her answers to an assessment. #}
      trans.PERFECT_SCORE_SAVE_TEXT =
          "{{ gettext(' Congratulations! Press the \\\'Submit Answers\\\' button to submit your grade. ')|replace('\"', '\\\"') }}";

      {# I18N: Text appearing after the student has checked his/her answers to an assessment. #}
      trans.GENERIC_SAVE_TEXT =
          "{{ gettext(' Press the \\\'Submit Answers\\\' button below to save your scores. You can also edit your answers above before clicking \\\'Submit Answers\\\'. ')|replace('\"', '\\\"') }}";

      {# I18N: Text appearing in a confirmation dialog after the student has tried to submit an assignment. #}
      trans.SUBMIT_ASSIGNMENT_CONFIRMATION =
          "{{ gettext(' Are you sure you want to submit this assignment? ') }}";

      {# I18N: Text appearing in a confirmation dialog after the student has tried to submit a review. #}
      trans.SUBMIT_REVIEW_CONFIRMATION =
          "{{ gettext(' Are you sure you want to submit this review? ') }}";

      {# I18N: Text appearing in a confirmation dialog after 'Are you sure you want to submit this assignment/review?' #}
      trans.CONFIRMATION_EXPLANATION =
          "{{ gettext(' You cannot edit or delete it after you have done so. ') }}";

      var assessmentTagMessages = {};

      {# I18N: Confirmation text for the answer given to a question by a student. #}
      assessmentTagMessages.correctAnswer = "{{ gettext(' Yes, the answer is correct. ') }}";
      {# I18N: Confirmation text for the answer given to a question by a student. #}
      assessmentTagMessages.incorrectAnswer = "{{ gettext(' No, the answer is incorrect. ') }}";
      {# I18N: Confirmation text for the answer given to a question by a student. #}
      assessmentTagMessages.partiallyCorrectAnswer = "{{ gettext(' The answer is partially correct. ') }}";

      {# I18N: Text appearing at the bottom of a lesson page after the student asks for it to be graded. #}
      assessmentTagMessages.yourScoreIs = "{{ gettext(' Your score is: ') }}";
    </script>

    {% block assets %}
    {% endblock %}

    <script>
      var eventXsrfToken = '{{ event_xsrf_token }}';
      {% if record_tag_events %}
        var gcbCanPostTagEvents = true;
      {% endif %}
      {% if record_page_events %}
        var gcbCanPostPageEvents = true;
      {% endif %}
      {% if record_events %}
        var gcbCanPostEvents = true;
      {% endif %}

      {% if transient_student %}
        var transientStudent = true;
      {% else %}
        var transientStudent = false;
      {% endif %}
    </script>

    {% if course_info.base.show_gplus_button %}
      <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
    {% endif %}

    {{course_info.base.before_head_tag_ends | safe}}
  </head>

    

  <body>
    {{course_info.base.after_body_tag_begins | safe}}

    <!-- ButterBar -->
  <div class="navbar navbar-fixed-top">
      <div class="container" data-start="padding: 0px 0px;" data-200="padding: 0px 0px;">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="#intro" class="navbar-brand"><img class="img-responsive" src="https://pbs.twimg.com/media/CEEiQ7aW8AAQ4R_.png" alt=""></a>
        <div class="nav-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav pull-right">
            <li><a href="#intro">Inici</a></li>
            <li><a href="curso.html">Cursos</a></li>
            <li><a href="nosotros.html">Sobre nosaltres</a></li>

          </ul>
        </div>
      </div>
    </div>


    <!-- logo bar -->
    <div class="div1"></div>
  <!-- nav bar -->
  <div class="gcb-nav gcb-complex" id="gcb-nav-x">
    <div class="gcb-aux">
      <ul>

        <!-- left-aligned links in order -->
        {{course_info.base.after_navbar_begins | safe}}
        <li {% if navbar.announcements %}class='active'{% endif %}>
          {# I18N: Navbar tab. #}
          <a href="announcements">{{ gettext('Announcements') }}</a>
        </li>
        <li {% if navbar.course %}class='active'{% endif %}>
          {# I18N: Navbar tab. #}
          <a href="course">{{ gettext('Course') }}</a>
        </li>

        <!-- right-aligned links are in order -->
        {% if is_super_admin %}


        {% endif %}
        {% if is_course_admin %}
   

        {% endif %}
        {% if show_course_explorer_tab and logoutUrl %}
   

          {% if has_global_profile %}


          {% endif %}
        {% endif %}
        {% if not transient_student %}
          <li {% if navbar.progress %}class='active'{% endif %}>
            {# I18N: Navbar tab. #}
            <a href="student/home">{{ gettext('Progress') }}</a>
          </li>
        {% else %}
          <li {% if navbar.registration %}class='active'{% endif %}>
            {# I18N: Navbar tab. #}
            <a href="register">{{ gettext('Registration') }}</a>
          </li>
        {% endif %}
        {{course_info.base.before_navbar_ends | safe}}
      </ul>
    </div>
  </div>




    <!-- top section -->
    <div class="is-wrapper">
      <div class="gcb-aux">
        {% block top_content %}{% endblock %}
        {{course_info.base.after_top_content_ends | safe}}

        <!-- main section -->
        {% block main_content %}{% endblock %}
        {{course_info.base.after_main_content_ends | safe}}
      </div>
    </div>

    <!-- footer section -->
    <div style="margin-top: 50px;" id="gcb-signature"></div>
    <div class="gcb-footer" id="gcb-footer">
      <div id="gcb-footer-local">
        <div class="gcb-aux">
        </div>
      </div>
      <div id="gcb-footer-global" role="contentinfo">
        <div class="gcb-aux">
          <ul>
            <li>
              <a href="{{course_info.institution.url}}">{{course_info.institution.name}}</a>
            </li>
            <li>
              <a href="{{course_info.base.privacy_terms_url}}">
                {# I18N: Link at the bottom of each page to the privacy and 'Terms and Conditions' pages. #}
                {{ gettext('Privacy & Terms') }}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    {{course_info.base.before_body_tag_ends | safe}}
 </body>
</html>
